html {
    background-color: #fcd2c9;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    width: 100%;
    height: 60px;
    background-color: #f16667;
    position: fixed;
}

.logo {
    display: inline-block;
    float: left;
    font-family: 'Cherry Swash', cursive;
    font-weight: 400;
    color: #fcd2c9;
    font-size: 40px;
    margin: 0px;
    margin-top: 5px;
    margin-left: 40px;
}

.link-container {
    display: inline-block;
    float: right;
    height: 50px;
    margin-top: 5px;
    margin-right: 40px;
}

.nav-content {
    display: inline-block;
    list-style: none;
/*    float: right;*/
    text-align: right;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: rgba(255,255,255,0.7);
/*        color: #22C28C;*/
}

.nav-content a {
    color: inherit;
    transition: color .2s linear;
    text-decoration: none;
}

.nav-content a:hover {
    color: white;
    text-decoration: none;
}

.header-image {
    display: block;
    width: 100%;
    height: 550px;
    background-image: url(../media/header-img.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
}


.threshold-brief-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
/*    background-color: red;*/
}

.brief-title {
    font-family: 'Cherry Swash', cursive;
    font-weight: 400;
    color: #fcd2c9;
    font-size: 80px;
    margin: 0px;
    padding: 0px;
}

.brief-copy {
    font-family: 'Cherry Swash', cursive;
    font-weight: 400;
    color: #fcd2c9;
    font-size: 26px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main-container {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#festival {
    position: absolute;
    height: 10px;
    width: 10px;
    margin-top: -100px;
    
}

.main-title {
    font-family: 'Cherry Swash', cursive;
    font-weight: 400;
    color: #f16667;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
}

.body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #504e4e;
}

.body span {
    font-weight: 700;
}